
body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  margin: 40px;
}
.axis path {
  fill: none;
  stroke: #999;
  stroke-dasharray: 2 3;
}
.axis text {
  font-size: 13px;
  stroke: #222;
}
text.title {
  font-size: 24px;
}
circle.tick {
  fill: #f3f3f3;
  stroke: #999;
  stroke-dasharray: 2 3;
}
path.spiral {
  fill: none;
  stroke: #ee8d18;
  stroke-width: 3px;
}
svg{
  background-image: linear-gradient(to top, rgba(253, 194, 49, 0.37) -13%, #f6f4e5 32%, #1da4a8 100%);
  border-radius: 0.25rem;
  padding-left:4rem;
  padding-top:4rem;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  z-index: 10;
  display: block;
  opacity: 0;
}
